__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
env/
venv/
dist/
build/
*.egg-info/
.vscode/
.idea/
*.json
!students.json
!settings.json
Attendance.csv
serviceAccountKey.json
Automatic_Attendance_System/serviceAccountKey.json
Automatic_Attendance_System/Attendance.csv
*.log
